<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eq.modules.bc.dao.BcTxRecordMapper">
    <resultMap id="BaseResultMap" type="org.eq.modules.bc.entity.BcTxRecord">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="asset_code" jdbcType="VARCHAR" property="assetCode" />
        <result column="asset_issuer" jdbcType="VARCHAR" property="assetIssuer" />
        <result column="asset_type" jdbcType="TINYINT" property="assetType" />
        <result column="biz_type" jdbcType="TINYINT" property="bizType" />
        <result column="contract_address" jdbcType="VARCHAR" property="contractAddress" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="from_address" jdbcType="VARCHAR" property="fromAddress" />
	    <result column="opt_metadata" jdbcType="VARCHAR" property="optMetadata" />
	    <result column="ticketId" jdbcType="VARCHAR" property="ticketid" />
	    <result column="to_address" jdbcType="VARCHAR" property="toAddress" />
	    <result column="trancheId" jdbcType="VARCHAR" property="trancheid" />
	    <result column="transfer_amount" jdbcType="VARCHAR" property="transferAmount" />
	    <result column="tx_hash" jdbcType="VARCHAR" property="txHash" />
	    <result column="tx_status" jdbcType="TINYINT" property="txStatus" />
	    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        asset_code,asset_issuer,asset_type,biz_type,contract_address,create_time,from_address,id,opt_metadata,ticketId,to_address,trancheId,transfer_amount,tx_hash,tx_status,update_time
    </sql>

    <select id="selectByExample" parameterType="org.eq.modules.bc.entity.BcTxRecordExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from bc_tx_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from bc_tx_record
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from bc_tx_record
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="org.eq.modules.bc.entity.BcTxRecordExample">
        delete from bc_tx_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="org.eq.modules.bc.entity.BcTxRecord">
        insert into bc_tx_record (asset_code,asset_issuer,asset_type,biz_type,contract_address,create_time,from_address,opt_metadata,ticketId,to_address,trancheId,transfer_amount,tx_hash,tx_status,update_time)
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{assetCode,jdbcType=VARCHAR},
            #{assetIssuer,jdbcType=VARCHAR},
            #{assetType,jdbcType=TINYINT},
            #{bizType,jdbcType=TINYINT},
            #{contractAddress,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{fromAddress,jdbcType=VARCHAR},
            #{optMetadata,jdbcType=VARCHAR},
            #{ticketid,jdbcType=VARCHAR},
            #{toAddress,jdbcType=VARCHAR},
            #{trancheid,jdbcType=VARCHAR},
            #{transferAmount,jdbcType=VARCHAR},
            #{txHash,jdbcType=VARCHAR},
            #{txStatus,jdbcType=TINYINT},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>

    <insert id="insertReturnId" parameterType="org.eq.modules.bc.entity.BcTxRecord" useGeneratedKeys="true" keyProperty="id">
        insert into bc_tx_record (asset_code,asset_issuer,asset_type,biz_type,contract_address,create_time,from_address,opt_metadata,ticketId,to_address,trancheId,transfer_amount,tx_hash,tx_status,update_time)
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{assetCode,jdbcType=VARCHAR},
            #{assetIssuer,jdbcType=VARCHAR},
            #{assetType,jdbcType=TINYINT},
            #{bizType,jdbcType=TINYINT},
            #{contractAddress,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{fromAddress,jdbcType=VARCHAR},
            #{optMetadata,jdbcType=VARCHAR},
            #{ticketid,jdbcType=VARCHAR},
            #{toAddress,jdbcType=VARCHAR},
            #{trancheid,jdbcType=VARCHAR},
            #{transferAmount,jdbcType=VARCHAR},
            #{txHash,jdbcType=VARCHAR},
            #{txStatus,jdbcType=TINYINT},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>

    <insert id="insertSelective" parameterType="org.eq.modules.bc.entity.BcTxRecord">
        insert into bc_tx_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            asset_code,
            asset_issuer,
            asset_type,
            biz_type,
            contract_address,
            create_time,
            from_address,
            opt_metadata,
            ticketId,
            to_address,
            trancheId,
            transfer_amount,
            tx_hash,
            tx_status,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{assetCode,jdbcType=VARCHAR},
            #{assetIssuer,jdbcType=VARCHAR},
            #{assetType,jdbcType=TINYINT},
            #{bizType,jdbcType=TINYINT},
            #{contractAddress,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{fromAddress,jdbcType=VARCHAR},
            #{optMetadata,jdbcType=VARCHAR},
            #{ticketid,jdbcType=VARCHAR},
            #{toAddress,jdbcType=VARCHAR},
            #{trancheid,jdbcType=VARCHAR},
            #{transferAmount,jdbcType=VARCHAR},
            #{txHash,jdbcType=VARCHAR},
            #{txStatus,jdbcType=TINYINT},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>

    <select id="countByExample" parameterType="org.eq.modules.bc.entity.BcTxRecordExample" resultType="java.lang.Long">
        select count(*) from bc_tx_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update bc_tx_record
        <set>
            <if test="record.assetCode != null">
                asset_code = #{record.assetCode,jdbcType=VARCHAR},
            </if>
            <if test="record.assetIssuer != null">
                asset_issuer = #{record.assetIssuer,jdbcType=VARCHAR},
            </if>
            <if test="record.assetType != null">
                asset_type = #{record.assetType,jdbcType=TINYINT},
            </if>
            <if test="record.bizType != null">
                biz_type = #{record.bizType,jdbcType=TINYINT},
            </if>
            <if test="record.contractAddress != null">
                contract_address = #{record.contractAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.fromAddress != null">
                from_address = #{record.fromAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.optMetadata != null">
                opt_metadata = #{record.optMetadata,jdbcType=VARCHAR},
            </if>
            <if test="record.ticketid != null">
                ticketId = #{record.ticketid,jdbcType=VARCHAR},
            </if>
            <if test="record.toAddress != null">
                to_address = #{record.toAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.trancheid != null">
                trancheId = #{record.trancheid,jdbcType=VARCHAR},
            </if>
            <if test="record.transferAmount != null">
                transfer_amount = #{record.transferAmount,jdbcType=VARCHAR},
            </if>
            <if test="record.txHash != null">
                tx_hash = #{record.txHash,jdbcType=VARCHAR},
            </if>
            <if test="record.txStatus != null">
                tx_status = #{record.txStatus,jdbcType=TINYINT},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map">
        update bc_tx_record
        set
        <trim  suffixOverrides=",">
            asset_code = #{record.assetCode,jdbcType=VARCHAR},
            asset_issuer = #{record.assetIssuer,jdbcType=VARCHAR},
            asset_type = #{record.assetType,jdbcType=TINYINT},
            biz_type = #{record.bizType,jdbcType=TINYINT},
            contract_address = #{record.contractAddress,jdbcType=VARCHAR},
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
            from_address = #{record.fromAddress,jdbcType=VARCHAR},
            id = #{record.id,jdbcType=BIGINT},
            opt_metadata = #{record.optMetadata,jdbcType=VARCHAR},
            ticketId = #{record.ticketid,jdbcType=VARCHAR},
            to_address = #{record.toAddress,jdbcType=VARCHAR},
            trancheId = #{record.trancheid,jdbcType=VARCHAR},
            transfer_amount = #{record.transferAmount,jdbcType=VARCHAR},
            tx_hash = #{record.txHash,jdbcType=VARCHAR},
            tx_status = #{record.txStatus,jdbcType=TINYINT},
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        </trim>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="org.eq.modules.bc.entity.BcTxRecord">
        update bc_tx_record
        <set>
            <if test="assetCode != null">
            asset_code = #{assetCode,jdbcType=VARCHAR},
            </if>
            <if test="assetIssuer != null">
            asset_issuer = #{assetIssuer,jdbcType=VARCHAR},
            </if>
            <if test="assetType != null">
            asset_type = #{assetType,jdbcType=TINYINT},
            </if>
            <if test="bizType != null">
            biz_type = #{bizType,jdbcType=TINYINT},
            </if>
            <if test="contractAddress != null">
            contract_address = #{contractAddress,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fromAddress != null">
            from_address = #{fromAddress,jdbcType=VARCHAR},
            </if>
            <if test="optMetadata != null">
            opt_metadata = #{optMetadata,jdbcType=VARCHAR},
            </if>
            <if test="ticketid != null">
            ticketId = #{ticketid,jdbcType=VARCHAR},
            </if>
            <if test="toAddress != null">
            to_address = #{toAddress,jdbcType=VARCHAR},
            </if>
            <if test="trancheid != null">
            trancheId = #{trancheid,jdbcType=VARCHAR},
            </if>
            <if test="transferAmount != null">
            transfer_amount = #{transferAmount,jdbcType=VARCHAR},
            </if>
            <if test="txHash != null">
            tx_hash = #{txHash,jdbcType=VARCHAR},
            </if>
            <if test="txStatus != null">
            tx_status = #{txStatus,jdbcType=TINYINT},
            </if>
            <if test="updateTime != null">
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.eq.modules.bc.entity.BcTxRecord">
        update bc_tx_record
        set
        <trim  suffixOverrides=",">
              asset_code = #{assetCode,jdbcType=VARCHAR},
              asset_issuer = #{assetIssuer,jdbcType=VARCHAR},
              asset_type = #{assetType,jdbcType=TINYINT},
              biz_type = #{bizType,jdbcType=TINYINT},
              contract_address = #{contractAddress,jdbcType=VARCHAR},
              create_time = #{createTime,jdbcType=TIMESTAMP},
              from_address = #{fromAddress,jdbcType=VARCHAR},
              opt_metadata = #{optMetadata,jdbcType=VARCHAR},
              ticketId = #{ticketid,jdbcType=VARCHAR},
              to_address = #{toAddress,jdbcType=VARCHAR},
              trancheId = #{trancheid,jdbcType=VARCHAR},
              transfer_amount = #{transferAmount,jdbcType=VARCHAR},
              tx_hash = #{txHash,jdbcType=VARCHAR},
              tx_status = #{txStatus,jdbcType=TINYINT},
              update_time = #{updateTime,jdbcType=TIMESTAMP},
        </trim>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>