<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:security="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>部门维护</title>
    <meta charset="utf-8"/>
</head>
<body>
<section th:fragment="content">
    <section class="content-header">
        <h1>部门维护
            <small>系统部门</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 权限功能</a></li>
            <li class="active">部门维护</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">部门列表</h3>
                    </div>
                    <div class="box-body">
                        <form id="searchForm" class="form-inline" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <div class="form-group col-md-4 col-sm-12">
                                <label class="col-sm-4 control-label">部门名称：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" name="name" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label class="col-sm-4 control-label">部门代码：</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="code" name="code" maxlength="50">
                                </div>
                            </div>
                            <div class="text-center operateBox">
                                <input id="select" class="btn btn-primary"
                                       th:if="${#authorization.expression('hasRole(''sys:depart:view'')')}"
                                       type="button" value="查询"/>
                                <input id="add" class="btn btn-primary"
                                       th:if="${#authorization.expression('hasRole(''sys:depart:edit'')')}"
                                       type="button" value="新增"/>
                                <input id="deleteBatch" class="btn btn-primary"
                                       th:if="${#authorization.expression('hasRole(''sys:depart:edit'')')}"
                                       type="button" value="批量删除"/>
                                <input id="import" class="btn btn-primary"
                                       th:if="${#authorization.expression('hasRole(''sys:depart:export'')')}"
                                       type="button" value="导入"/>
                                <input id="export" class="btn btn-primary"
                                       th:if="${#authorization.expression('hasRole(''sys:depart:import'')')}"
                                       type="button" value="导出"/>
                            </div>
                        </form>
                        <div id="dict_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="departTable" class="table table-bordered table-hover dataTable"
                                           role="grid" aria-describedby="dict_info">
                                        <thead>
                                        <tr>
                                            <th style="width:30px; padding:10px 0 10px 10px">
                                                <input type="checkbox" id="checkAll">
                                            </th>
                                            <th>部门名称</th>
                                            <th>部门代码</th>
                                            <th>所属机构</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" data-backdrop="static">
        <form id="modifyForm" class="modalForm" role="form" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span></button>
                        <h4 class="modal-title" id="modifyModalLabel">部门添加</h4>
                    </div>
                    <div class="modal-body">
                        <input id="id" name="id" type="hidden" value="">
                        <div class="form-group">
                            <div class="input-group parentTree">
                                <span class="input-group-addon">所属机构：</span>
                                <input id="officeId" name="officeId" type="hidden" class="form-control">
                                <input id="officeName" name="officeName" type="text" class="form-control" readonly>
                                <!-- 菜单的下拉树 -->
                                <div id="menuTree" class="treeBox" style="display:none"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">部门名称：</span>
                                <input type="text" class="form-control" id="name" name="name" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">部门代码：</span>
                                <input type="text" class="form-control" id="code" name="code" maxlength="50">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                        <button id="save" type="button" class="btn btn-primary" data-type="save">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    var departTable = null;
    var menuTree = null;
    var order = {};//缓存树的排序

    /* 页面加载完操作 */
    $(document).ready(function () {
        /* 数据初始化 */
        //初始化下拉选
        $("#searchForm").find(".select2-type").select2();
        //初始化表格
        departTable = initDataTable();

        /* 搜索按钮事件 */
        //查询
        $("#select").on("click", function () {
            departTable.ajax.reload();
        });

        //新增
        $("#add").on("click", function () {
            var modifyModal = $("#modifyModal");
            modifyModal.modal({
                keyboard: false
            })
            modifyModal.find(".select2-type").select2();
            //修改模态框的保存按钮名称,属性 type=save 新增 update 修改
            modifyModal.find("[id='save']").data("type", "save");
            modifyModal.find("[id='save']").text("保存");
            modifyModal.find("[id='modifyModalLabel']").text("部门新增");

            //下拉树
            treeMenu();
            modifyModal.find("[id='officeName']").click(function (event) {
                $("#menuTree").show();
                event.stopPropagation();
                return false;
            });
            $("#menuTree").click(function () {
                return false;
            });

            //from 表单验证
            formValidator(modifyModal);
            //模态框按钮事件 保存or修改
            saveOrUpdate(modifyModal);
        });

        //批量删除
        $("#deleteBatch").on("click", function () {
            base_confirm('确认要批量删除部门吗?',function () {
                var ids = '';
                //获取所有选中的check 然后ajax 成功后返回信息 并刷新页面
                $("input[name='checklist']").prop("checked", function (i, one) {
                    if (one) {
                        if (ids == '') {
                            ids += this.value;
                        } else {
                            ids += ',' + this.value;
                        }
                    }
                });
                if (ids != '') {
                    ajaxDelect(ids);
                } else {
                    base_alert('未选中任何一条数据');
                }
            })
        })

        //导出
        $("#export").on("click",function(){
            //获取请求参数
            var url = urlPath+"/sys/sysDepart/export?"
            var form = $("#searchForm");
            $("#searchForm").attr("action", url);
            $("#searchForm").submit();
        });

        //导入
        $("#import").on("click", function () {
            //上传地址，模板下载名称，参数，回调函数
            initFileUpload(urlPath+"/sys/sysDepart/import","excel/sysDepart.xls",null,function () {
                departTable.ajax.reload(null, true);
            });
            //追加导入说明
            $("#fileUploadModal .modal-body").append(appendDescription());
        })
    });

    function appendDescription() {
        var html = "";
        html+='<table id="fileTable" role="presentation" class="table table-striped" style="margin-top:10px;margin-bottom:10px;"><tbody class="files"></tbody></table>';
        html+='<div class="tipsBox" style="font-size:12px;">';
        html+='  <strong style="margin-bottom:10px;display:block;">导入说明：</strong>';
        html+='  <p>1、红色标注的为必填项。</p>';
        html+='  <p>2、字与字中间不应该有空格。</p>';
        html+='</div>';
        return html;
    }

    function initDataTable() {
        var option = {
            columnDefs: [{
                orderable: false,
                targets: 0,
                render: function (data, type, row, meta) {
                    return '<input type="checkbox" name="checklist" value="' + row.id + '" />'
                }
            },{
                targets: 3,
                render: function (data, type, row, meta) {
                    return dictionary['office'][data]||data;
                }
            }, {
                orderable: false,
                targets: 4,
                render: function (data, type, row, meta) {
                    var isEdit = [[${#authorization.expression('hasRole(''sys:depart:edit'')')}]];
                    var option = "";
                    if (isEdit) {
                        option += '<a href="#" id="update" name="update" data-id="' + row.id + '">修改</a>'
                            + '  <a href="#" id="delete" name="delete" data-id="' + row.id + '" >删除</a>';
                    }
                    option += ' <a href="#" id="check" name="check" data-id="' + row.id + '" >查看</a>';
                    return option;
                }
            }],//第一列与最后一列禁止排序
            order: [ [0, null] ],//第一列排序图标改为默认
            ajax: {
                url: urlPath + '/sys/sysDepart/dataList',
                data: function (d) {
                    //添加额外的数据请求参数
                    var form = $("#searchForm");
                    d.code = form.find("input[name='code']").val();
                    d.name = form.find("input[name='name']").val();
                }
            },
            columns: [
                {},
                {data: 'name', name: 'name'},
                {data: 'code', name: 'code'},
                {data: 'officeId', name: 'officeId'},
                {}
            ],
            fnDrawCallback: function () {//加载完成后 初始化<a>操作
                //checkbox全选
                $("#checkAll").prop("checked", false);
                $("#checkAll").on("click", function () {
                    if ($(this).prop("checked") === true) {
                        $("input[name='checklist']").prop("checked", $(this).prop("checked"));
                        $('#dictTable tbody tr').addClass('selected');
                    } else {
                        $("input[name='checklist']").prop("checked", false);
                        $('#dictTable tbody tr').removeClass('selected');
                    }
                });

                //表格按钮事件
                $("a[name='update']").map(function (i, one) {
                    //绑定修改事件
                    $(one).on("click", function () {
                        //ajax 查询后台数据 放到模态框 修改模态框的保存按钮属性
                        $.ajax({
                            url: urlPath + '/sys/sysDepart/selectSysDepart',
                            type: 'POST',
                            dataType: 'json',
                            data: {id: $(this).data("id")},
                            success: function (data, status) {
                                if (data.status == 'success') {
                                    var modifyModal = $("#modifyModal");
                                    modifyModal.modal({
                                        keyboard: false
                                    })
                                    var form = modifyModal.find(".modalForm");
                                    var resultData = data.list[0];
                                    form.find(".select2-type").select2();
                                    form.find("input[name='id']").val(resultData.id);
                                    form.find("input[name='code']").val(resultData.code);
                                    form.find("input[name='name']").val(resultData.name);

                                    //修改模态框的保存按钮名称,属性 type=save 新增 update 修改
                                    modifyModal.find("[id='save']").data("type", "update");
                                    modifyModal.find("[id='save']").text("修改");
                                    modifyModal.find("[id='myModalLabel']").text("部门修改");

                                    treeMenu();
                                    modifyModal.find("[id='officeName']").click(function (event) {
                                        $("#menuTree").show();
                                        event.stopPropagation();
                                        return false;
                                    });
                                    $("#menuTree").click(function () {
                                        return false;
                                    });
                                    if (order[resultData.officeId] != undefined) {
                                        $('#menuTree').treeview('selectNode', order[resultData.officeId]);
                                    }

                                    //from 表单验证
                                    formValidator(modifyModal);
                                    //模态框按钮事件 保存or修改
                                    saveOrUpdate(modifyModal);
                                } else {
                                    //操作失败 弹出提示信息
                                    base_alert_time(data.msg, 1000);
                                }
                            }
                        });
                    })
                });

                $("a[name='delete']").map(function (i, one) {
                    //绑定修改事件
                    $(one).on("click", function () {
                        base_confirm('确认要删除该部门吗?',function () {
                            //获取所有选中的id 然后ajax 成功后返回信息 并刷新页面
                            var ids = $(one).data("id");
                            ajaxDelect(ids);
                        })
                    })
                });

                $("a[name='check']").map(function (i, one) {
                    //绑定修改事件
                    $(one).on("click", function () {
                        var modifyModal = $("#modifyModal");
                        modifyModal.modal({
                            keyboard: false
                        })
                        modifyModal.find("[id='save']").remove();
                        //ajax 查询后台数据 放到模态框 修改模态框的保存按钮属性
                        $.ajax({
                            url: urlPath + '/sys/sysDepart/selectSysDepart',
                            type: 'POST',
                            dataType: 'json',
                            data: {id: $(this).data("id")},
                            success: function (data, status) {
                                if (data.status == 'success') {
                                    var form = modifyModal.find(".modalForm");
                                    var resultData = data.list[0];
                                    form.find(".select2-type").select2();
                                    form.find("input[name='id']").val(resultData.id);
                                    form.find("input[name='code']").val(resultData.code);
                                    form.find("input[name='name']").val(resultData.name);
                                    //修改模态框的保存按钮名称,属性 type=save 新增 update 修改
                                    modifyModal.find("[id='save']").data("type", "update");
                                    modifyModal.find("[id='save']").text("修改");
                                    modifyModal.find("[id='modifyModalLabel']").text("部门修改");

                                    treeMenu();
                                    modifyModal.find("[id='officeName']").click(function (event) {
                                        $("#menuTree").show();
                                        event.stopPropagation();
                                        return false;
                                    });
                                    $("#menuTree").click(function () {
                                        return false;
                                    });
                                    if (order[resultData.officeId] != undefined) {
                                        $('#menuTree').treeview('selectNode', order[resultData.officeId]);
                                    }

                                    form.find("input").attr("disabled", true);
                                    form.find("select").attr("disabled", true);
                                } else {
                                    //操作失败 弹出提示信息
                                    base_alert_time(data.msg, 1000);
                                }
                            }
                        });
                    })
                });
            }
        };
        departTable = initOriginalTable('departTable', option);
        return departTable;
    }

    function treeMenu() {
        //ajax 请求数据排序
        $.ajax({
            async: false,
            url: urlPath + '/sys/sysOffice/treeSysOffice',
            type: 'POST',
            dataType: 'json',
            success: function (data, status) {
                if (data.status = 'success') {
                    menuTree = data.list;
                    nodeMap(menuTree, order);
                    $('#menuTree').treeview({
                        levels: 1,
                        data: menuTree,
                        onNodeSelected: function (event, node) {
                            $("#menuTree").hide();
                            $("#modifyForm input[name='officeName']").val(node.text).trigger("change");
                            $("#modifyForm input[name='officeId']").val(node.value).trigger("change");
                        }
                    });
                }
            }
        });
    }

    function nodeMap(nodes, order) {
        if (nodes != null) {
            for (var i = 0; i < nodes.length; i++) {
                order[nodes[i].value] = nodes[i].order;
                if (nodes[i].nodes != undefined) {
                    nodeMap(nodes[i].nodes, order);
                }
            }
        }
    }

    function formValidator(div) {
        div.find('.modalForm').bootstrapValidator({
            // I am validating Bootstrap form
            framework: 'bootstrap',

            // Feedback icons
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                code: {
                    message: '部门代码验证失败',
                    validators: {
                        notEmpty: {
                            message: '部门代码不能为空'
                        }
                    }
                },
                name: {
                    message: '部门名称验证失败',
                    validators: {
                        notEmpty: {
                            message: '部门名称不能为空'
                        }
                    }
                },
                officeName: {
                    message: '所属机构验证失败',
                    validators: {
                        notEmpty: {
                            message: '所属机构不能为空'
                        }
                    }
                }
            }
        });
    }

    function saveOrUpdate(div) {
        div.find("#save").on("click", function () {
            var form = div.find('.modalForm');
            var button = $(this);
            var bootstrapValidator = form.data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                //数据操作方式
                var opType = button.data("type");
                //查找是select2的字段并赋值
                var obj = {};
                obj.opType = opType;
                $.ajax({
                    url: urlPath + '/sys/sysDepart/modify',
                    type: 'POST',
                    data: $.param(obj) + '&' + form.serialize(),
                    success: function (data, status) {
                        if (data.status == 'success') {
                            //操作成功 弹出提示信息 然后关闭弹出框 重新刷新list 页面
                            base_alert_success_time(data.msg, 1000, function () {
                                div.modal('hide');
                                //ajax 重新加载  第一个参数是回调函数 第二个参数是否 分页重置
                                departTable.ajax.reload(null, false);
                            })
                        } else {
                            //操作失败 弹出提示信息
                            base_alert_time(data.msg, 1000);
                        }
                    }
                });
            }
        })
    }

    function ajaxDelect(ids) {
        $.ajax({
            url: urlPath + '/sys/sysDepart/deleteSysDepart',
            type: 'POST',
            dataType: 'json',
            data: {'ids': ids,'virtual':'true'},
            success: function (data, status) {
                if (data.status == 'success') {
                    //操作成功 弹出提示信息 重新刷新list 页面
                    base_alert_success_time(data.msg, 1000, function () {
                        departTable.ajax.reload(null, false);
                    })
                } else {
                    //操作失败 弹出提示信息
                    base_alert_time(data.msg, 1000);
                }
            }
        });
    }
</script>
</body>
</html>