<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:security="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>标签管理</title>
    <meta charset="utf-8"/>
</head>
<body>
<section th:fragment="content">
    <section class="content-header">
        <h1>标签管理</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 标签管理</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">标签管理列表</h3>
                    </div>
                    <div class="box-body">
                        <form id="searchForm" class="form-inline" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <input type="hidden" name="orderDir" id="orderDir" value="desc">
                            <input type="hidden" name="orderName" id="orderName" value="sort">
                            <div class="form-group col-md-4 col-sm-12 ">
                                <label  class="col-md-4 col-sm-4 control-label">名称</label>
                                <div class="col-md-8 col-sm-8">
                                    <input type="text" class="form-control" id="name" name="name" maxlength="50" style="width: 100%;"/>
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-sm-12 ">
                                <label class="col-sm-4 control-label">状态：</label>
                                <div class="col-sm-8">
                                    <select class="select2-type select2-choice" id="status" name="status"  style="width: 100%;">
                                        <option value="">请选择</option>
                                        <option value="0">启用</option>
                                        <option value="1">禁用</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center operateBox row">
                                <input id="select" class="btn btn-primary"  type="button" th:if="${#authorization.expression('hasRole(''sys:menu:view'')')}" value="查询"/>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input id="add" class="btn btn-primary" type="button" th:if="${#authorization.expression('hasRole(''sys:menu:edit'')')}" value="新增"/>
                            </div>
                        </form>
                        <div id="dict_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" id="tableDiv">
                                    <table id="tagTable" class="table table-bordered table-hover dataTable"
                                           role="grid" aria-describedby="menu_info">
                                        <thead>
                                        <tr role="row">
                                            <th>序号</th>
                                            <th>标签名称</th>
                                            <th>创建人</th>
                                            <th>创建时间</th>
                                            <th>更新时间</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="treeTableList"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" data-backdrop="static">
        <form id="modifyForm" class="modalForm" role="form" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span></button>
                        <h4 class="modal-title" id="modifyModalLabel">标签添加</h4>
                    </div>
                    <div class="modal-body">
                        <input id="id" name="id" type="hidden" value=""/>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">标签名称：</span>
                                <input type="text" class="form-control" id="name" name="name" maxlength="50"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                        <button id="save" type="button" class="btn btn-primary" data-type="save">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script type="text/javascript" src="/admin/c2c/tag/list.js"></script>

<script type="text/javascript">

    //新增
    $("#add").on("click", function () {
        var modifyModal = $("#modifyModal");
        modifyModal.modal({
            keyboard: false
        })
        modifyModal.find(".select2-type").select2();
        //修改模态框的保存按钮名称,属性 type=save 新增 update 修改
        modifyModal.find("[id='save']").data("type", "save");
        modifyModal.find("[id='save']").text("保存");
        modifyModal.find("[id='modifyModalLabel']").text("标签新增");
        //模态框按钮事件 保存or修改
        saveOrUpdate(modifyModal);
    });

    function saveOrUpdate(div){
        div.find("#save").on("click",function(){
            var form = div.find('.modalForm');
            var button = $(this);
            //数据操作方式
            var opType = button.data("type");
            //查找是select2的字段并赋值
            var obj = {};
            obj.opType = opType;
            obj.id = form.find("input[name='id']").val();
            obj.name = form.find("input[name='name']").val();
            $.ajax({
                url: urlPath+'/tag/modify',
                type: 'POST',
                data: $.param(obj),
                success: function (data, status) {
                    if(data.status=='success'){
                        //操作成功 弹出提示信息 然后关闭弹出框 重新刷新list 页面
                        base_alert_success_time(data.msg,1000,function(){
                            div.modal('hide');
                            var tagAuth = new Tag.TagAuth();
                            tagAuth.init();
                        })
                    }else{
                        //操作失败 弹出提示信息
                        base_alert_time(data.msg,1000);
                    }
                }
            });

        })
    }

</script>
</body>
</html>