<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:security="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>商品管理</title>
    <meta charset="utf-8"/>
</head>
<body>
<section th:fragment="content">
    <section class="content-header">
        <h1>商品管理</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 商品管理</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">商品管理列表</h3>
                    </div>
                    <div class="box-body">
                        <form id="searchForm" class="form-inline" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <input type="hidden" name="orderDir" id="orderDir" value="desc">
                            <input type="hidden" name="orderName" id="orderName" value="sort">
                            <div class="form-group col-md-4 col-sm-12 ">
                                <label  class="col-md-4 col-sm-4 control-label">商品名称</label>
                                <div class="col-md-8 col-sm-8">
                                    <input type="text" class="form-control" id="name" name="name" maxlength="50" style="width: 100%;"/>
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-sm-12 ">
                                <label  class="col-md-4 col-sm-4 control-label">商品状态</label>
                                <div class="col-md-8 col-sm-8">
                                    <select class="select2-type select2-choice" id="status" name="status" style="width: 100%;">
                                        <option value="">全部</option>
                                        <option value="0">待上架</option>
                                        <option value="1">已上线</option>
                                        <option value="2">已过期</option>
                                        <option value="3">已下架</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center operateBox row">
                                <input id="select" class="btn btn-primary"  type="button" th:if="${#authorization.expression('hasRole(''sys:menu:view'')')}" value="查询"/>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <input id="load" class="btn btn-primary" onclick="loadProduct()"  type="button" th:if="${#authorization.expression('hasRole(''sys:menu:view'')')}" value="导入"/>
                            </div>
                        </form>
                        <div id="dict_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" id="tableDiv">
                                    <table id="productTable" class="table table-bordered table-hover dataTable"
                                           role="grid" aria-describedby="menu_info">
                                        <thead>
                                        <tr role="row">
                                            <th>序号</th>
                                            <th>商品名称</th>
                                            <th>商品单价</th>
                                            <th>商品标签</th>
                                            <th>过期时间</th>
                                            <th>更新时间</th>
                                            <th>排序</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="treeTableList"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="lookModal" tabindex="-1" role="dialog" data-backdrop="static">
        <form id="modifyForm" class="modalForm" role="form" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span></button>
                        <h4 class="modal-title" id="modifyModalLabel">商品详情</h4>
                    </div>
                    <div class="modal-body">
                        <input id="id" name="id" type="hidden" value=""/>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">商品名称：</span>
                                <input type="text" readonly="readonly" class="form-control"  name="name" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">商品图片地址：</span>
                                <input type="text" readonly="true"  class="form-control"   name="productImg" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">商品单价：</span>
                                <input type="text" readonly="true"  class="form-control" id="unitPrice" name="unitPrice" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">创建时间：</span>
                                <input type="text" readonly="true"  class="form-control" id="createDate" name="createDate" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">有效期开始时间：</span>
                                <input type="text" readonly="true"  class="form-control" name="expirationStart" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">有效期结束时间：</span>
                                <input type="text" readonly="true"  class="form-control" name="expirationEnd" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">标签名称：</span>
                                <input type="text" readonly="true"  class="form-control" id="tagNames" name="tagNames" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">提货说明：</span>
                                <textarea rows="2" readonly="true"   type="text" class="form-control" name="receive" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">券描述：</span>
                                <textarea rows="2" readonly="true"   type="text" class="form-control" name="ticketDesc" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">备注：</span>
                                <textarea rows="2" readonly="true"   type="text" class="form-control" name="remarks" maxlength="50"/>
                            </div>
                        </div>
                        <!--发行商信息-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">发行商名称：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="issuerName" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">发行商图片：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="issuerIcon" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">发行商地址：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="issuerAddress" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">发行商简介：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="issuerIntro" maxlength="50"/>
                            </div>
                        </div>
                        <!--承兑商信息-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">承兑商名称：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="acceptName" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">承兑商图片：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="acceptIcon" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">承兑商地址：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="acceptAddress" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">承兑商简介：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="acceptIntro" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">承兑商电话：</span>
                                <textarea rows="1"  readonly="true"  type="text" class="form-control" name="acceptMobile" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">资产CODE：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="assetCode" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">资产发行人：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="assetIssuer" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">合约地址：</span>
                                <textarea rows="1" readonly="true"   type="text" class="form-control" name="contractAddress" maxlength="50"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="modelTag" tabindex="-1" role="dialog" data-backdrop="static">
        <form id="modelTagForm" class="modalForm" role="form" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span></button>
                        <h4 class="modal-title" id="modelTagTitle">商品标签</h4>
                    </div>
                    <div class="modal-body">
                        <input  name="id" type="hidden" value=""/>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">商品标签：</span>
                                <input th:type="hidden" id="hiddenTag">
                                <select class="js-example-basic-multiple" name="product-id-change" multiple="multiple" id="product-id-change">
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="subTag()" class="btn btn-default pull-left" data-dismiss="modal">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


</section>
<script type="text/javascript" src="/admin/c2c/product/list.js"></script>
</body>
</html>